body {
    font-family: "Roboto", sans-serif ;
    color: #434455;
    background-color: #ffffff ;
}
   a {
    text-decoration: none;}
    ul {
        list-style: none;
    }
.header {
    background-color: #ffffff;
}
.header-logo {
    font-weight: 700;
        font-size: 18px;
        line-height: 1.16667;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #2E2F42;
        font-family: 'Raleway', sans-serif;
}
.logo-accent {
    color: #4D5AE5;
    font-family: 'Raleway', sans-serif;
}
.nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
}
.nav-link:hover,
.nav-link:focus {
    color: #404bbf;
}

.page-add {
    font-style: normal;}
.page-add .link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;}

.page-add .link:hover, .page-add .link:focus {
    color:#404bbf;

}
.hero {

    background-color: #2e2f42;
}
.hero-title {
    font-weight: 700;
        font-size: 56px;
        line-height: 1.07143;
        letter-spacing: 0.02em;
        text-align: center;
        color: #ffffff;
}
.hero-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
        background: #4D5AE5;
        cursor: pointer;
}
.hero-button:hover, .hero-button:focus{
    background: #404BBF;
}
.features-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.features-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.team-member {background-color: #fff}
.team {background-color: #f4f4fd}
.team-title, .portfolio-title {
    font-weight: 700;
        font-size: 36px;
        line-height: 1.11111;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2E2F42;
}
.team-name {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2E2F42;
}
.team-role {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        color: #434455;

}

.portfolio-name {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2E2F42;

}
.portfolio-type {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}










.footer {
    background-color:#2E2F42 ;
}
.footer-logo {
    font-weight: 700;
        font-size: 18px;
        line-height: 1.16667;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4D5AE5;
        font-family: 'Raleway', sans-serif;
}
.logo-accent-studio {
    color:#F4F4FD ;
font-family: 'Raleway', sans-serif;
}
.text {
    color: #F4F4FD;
    line-height: 1.5;
    letter-spacing: 0.02em;}