*,
*::before,
*::after {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: "Roboto", sans-serif ;
    color: #434455;
    background-color: #ffffff ;
}
   a {
    text-decoration: none;}
h1, h2, h3, p {
    margin: 0;
    padding: 0;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
img {
    object-fit: cover;
        display: block;
}

 .container {
    max-width: 1158px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
 }   
.header {
    width: 100%;
    background-color: #ffffff;
    border-bottom: 1px solid #e7e9fc;
}
.header .container {
    display: flex;
    align-items: center;
}.header .container {
    display: flex;
    align-items: center;}
    
.header-logo {
    
    font-weight: 700;
        font-size: 18px;
        line-height: 1.16667;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #2E2F42;
        font-family: 'Raleway', sans-serif;
}
.logo-accent {
    color: #4D5AE5;
    font-family: 'Raleway', sans-serif;
}

.nav {
    display: flex;
    align-items: center;
}

.nav-list {
    display: flex;
    align-items: center;
        gap: 40px;
        margin-left: 76px;
}

.nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
    padding: 24px 0px;
        display: inline-block;
}
.nav-link:hover,
.nav-link:focus {
    color: #404bbf;
}

.page-add ul {
    display: flex;
    align-items: center;
    gap: 40px;
}
.page-add {
    font-style: normal;
    margin-left: auto;}
    

.page-add .link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    display: inline-block;
    padding: 24px 0;
}

.page-add .link:hover, .page-add .link:focus {
    color:#404bbf;

}
.hero {
    background-color: #2e2f42;
    padding: 188px 0;
    text-align: center;
}
.hero-title {
    width: 496px;
    margin: 0 auto 48px auto;
    font-weight: 700;
        font-size: 56px;
        line-height: 1.07143;
        letter-spacing: 0.02em;
        text-align: center;
        color: #ffffff;
}
.hero-button {
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: inline-flex;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    margin: auto;
    align-items: center;
    padding: 16px 32px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
        background: #4D5AE5;
}
.hero-button:hover, .hero-button:focus{
    background: #404BBF;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.features {
    padding: 120px 0;
        text-align: center;
}
.features-list {
    display: flex;
gap: 24px;
text-align: left;
}


.features-item {
flex: 0 0 264px;
}
.features-title {
   
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.features-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.team ul {
    display: flex;
    align-items: center;
    gap:24px;}

.team li {
width: calc((100% - 72px) / 4);
}

.team-picture {
    display: block;
    margin-bottom: 32px;
    width: 100%;

}

.team-member {
    background-color: #ffffff;
    border-radius: 0 0 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 
                0px 1px 1px rgba(46, 47, 66, 0.16), 
                0px 2px 1px rgba(46, 47, 66, 0.08);
}
.team-content {
    padding: 32px 16px;
    text-align: center;
}
.team {
    padding-top: 120px;
        padding-bottom: 120px;
    background-color: #f4f4fd;

}
.team-title {
        margin-bottom: 72px;
}

.team-title, .portfolio-title {
    font-weight: 700;
        font-size: 36px;
        line-height: 1.11111;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2E2F42;
}
.team-name {
    margin-bottom: 8px;
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2E2F42;
}

.team-role {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        color: #434455;
    }
    
.portfolio {
    padding-top: 120px;
        padding-bottom: 120px;}
        
.portfolio-item {
    width: calc((100% - 48px) / 3);
        border-radius: 4px;
        overflow: hidden;
        background-color: #fff; 
            display: flex;
            flex-direction: column;
            
}
.portfolio-content {
    padding: 32px 16px;
        border-bottom: 1px solid #e7e9fc;
        border-left: 1px solid #e7e9fc;
        border-right: 1px solid #e7e9fc;
        box-sizing: border-box;
    
   
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
    
}
.portfolio-title {
    
    margin-top: 0;
        margin-bottom: 72px;
        
}

.portfolio-name {
    margin-bottom: 8px;
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2E2F42;
        

}
.portfolio-type {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
        
}




.footer {
    background-color:#2E2F42 ;
    padding: 100px 0;
}
.footer .container {
    display: flex;
    flex-direction: column;
        align-items: flex-start;
}

.footer-logo {
    display: inline-block;
    margin-bottom: 16px;
    font-weight: 700;
        font-size: 18px;
        line-height: 1.16667;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4D5AE5;
        font-family: 'Raleway', sans-serif;
}
.logo-accent-studio {
    color:#F4F4FD ;
font-family: 'Raleway', sans-serif;
}
.text {
    width: 264px;
    color: #F4F4FD;
    line-height: 1.5;
    letter-spacing: 0.02em; }